@font-face {
    font-family: "amaticsc";
    src: 
        url("fonts/amaticsc-regular-webfont.woff2") format("woff2"),
        url("fonts/amaticsc-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgcontainer {
    background-image: url(image.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 33vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.logo {
    background-image: url(odin-lined.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 100px;
    top: 35px;
    width: 100px;
    height: 180px;
}

.brname {
    width: 32vw;
    height: 200px;
    background-color: rgba(14, 6, 6, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: azure;
    top: 100px;
    font-size: 130px;
    font-family: "amaticsc", serif;
}

.name {
    position: absolute;
    right: 95px;
}

footer {
    color: azure;
}

footer > a {
    color: azure
}

a:hover {
    background-color: beige;
    color: #979;
}

.container {
    font-weight: bold;
    font-size: 20px;

}

.container + div {
    font-weight: bold;
    font-size: 20px;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formcontainer {
    width: 67vw;
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signform {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: -30px;
}

.form1,
.form2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 180px;
    margin-left: 60px;
}

input,
label {
    margin: 0;
    padding: 0;
}

input {
    border: 1.5px solid #E5E7EB;
    height: 28px;
}

input[type="password"]:invalid {
    border: 1.5px solid red;
}

input:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h2 {
    height: 50px;
    margin-left: 60px;
}

.container {
    position: relative;
    top: 40px;
    left: 35px;
}

button {
    position: relative;
    top: 20px;
    left: 35px;
    width: 200px;
    height: 45px;
    background-color: #a8856d;
    color: azure;
    font-size:20px;
    border: #a8856d solid ;
    border-radius: 8px;
}

.footer {
    position: relative;
    top: -40px;
    left: 35px;
}
